body {
	margin: 0;
	padding: 0;
	color: #132743;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	width: 100%;
	display: inline-flex;
	align-items: center;
	background: #132743;
	box-shadow: 0 4px 10px -6px grey;
}
header span {
	color: white;
	margin: 0.8em;
}

.container {
	margin-top: 1.5em;
	margin-bottom: 1em;
	width: 70%;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	padding: 1em;
	box-shadow: 0 4px 10px 0 grey;
	border-radius: 1em;
}

.search_panel {
	width: 70%;
	height: 100%;
	margin-top: 1.5em;
	padding: 1em;
	box-shadow: 0 4px 10px 0 grey;
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search_options {
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.search_param {
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.search_param span {
	white-space:pre;
}

.input {
	width: auto;
	margin-left: 0.4em;
	margin-right: 0.4em;
}

.item {
	text-decoration: none;
	color: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin: 1em;
	font-size: 0.75em;
	/*box-shadow: 0 2px 6px 0 #132743;*/
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
	transition: 0.2s all;
	border: 2px solid transparent;
	border-radius: 0.1em;
}
.item:hover {
	cursor: pointer;
	border: 2px solid #132743;
	text-decoration: underline;
}

.item span {
	width: 100%;
	text-align: left;
}

.item_img {
	margin-top: 1em;
	height: 15em;
	width: auto;
	display: inline-flex;
	justify-content: center;
	overflow: clip;
}
.item_img img {
	height: 100%;
	width: auto;
}

.item_name {
	margin-top: 0.3em;
}

.item_price {
	margin-top: 0.3em;
	margin-bottom: 1em;
}

.search_button {
  font-size: 0.8em;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 0.3em 0.5em 0.3em 0.5em;
  margin-top: 0.5em;
  border: 2px solid #132743;
  border-radius: 0.3em;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.search_button span {
    z-index: 2;
}

.search_button:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #132743;
    z-index: -1;
}

.search_button:hover:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.search_button:hover {
    color: #bfe9ba;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
	.container {
		grid-template-columns: 50% 50%;
	}
	.search_options {
		display: flex;
		flex-direction: column;
	}
	.search_param {
		margin-bottom: 0.5em;
	}
}